.sidebar__option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar__option:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--tweeter-color);
    transition: color 100ms ease-out;
    transition: background-color 100ms ease-out;
}

.sidebar__option > .MuiSvgIcon-root {
    padding: 20px;
}

.sidebar__option > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebar__option--active {
    color: var(--tweeter-color);
}

@media (max-width: 1230px) {
    .sidebar__option > h2 {
        display: none;
    }
}

@media (max-width: 860px) {
    .sidebar__option > .MuiSvgIcon-root {
        padding: 20px;
    }
}