* {
    font-family: "Roboto", "sans-serif";
}

body {
    --tweeter-color: #50b7f5;
    --tweeter-background: #e6ecf0;
}

.app {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.red {
    color: rgb(255, 50, 50);
}